.navbar {
      margin-bottom: 20px;
}
div.main {
    color: white;
    background: rgba(0, 0, 0, 0.6); }
div.main select.form-control {
      background: rgba(0, 0, 0, 0.8);
      color: white; 
}
div.main input.form-control 
{
      background: rgba(0, 0, 0, 0.8);
      color: white; 
}
i.fa-suser 
{
      width: 5px;
}
